# Database connection string (e.g., jdbc:postgresql://your-db-host:5432/db_name)
DB_URL=

# Database username
DB_USER=

# Database password
DB_PASSWORD=

# Allowed origin for CORS (e.g., http://localhost:3000)
FRONTEND_URL=

# Backend server URL (e.g., http://localhost:8080)
BACKEND_URL=

# WebSocket server URL (e.g., ws://localhost:8080/ws-fleet)
WEB_SOCKET_URL=